alembic
certifi
cffi
chardet
click
cryptography
dnspython
email-validator
Flask
Flask-Cors
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
idna
importlib-metadata
isodate
itsdangerous
Jinja2
Mako
MarkupSafe
psycopg2-binary
pycparser
pyOpenSSL
pyparsing
python-dateutil
python-dotenv
python-editor
rdflib
requests
six
SQLAlchemy
typing-extensions
urllib3
Werkzeug
WTForms
zipp
